.container-cart {
  background-color: rgb(0, 0, 0);
  height: 100vh;
  position: absolute;
  width: 440px;
  right: 0;
  // transition: 1s ease-in-out;
  animation: slideSide 1s ease-in-out;
}

.cart-show {
  animation: slideSide 0.8s ease-in-out;
}
.cart-hide {
  animation: slideSide2 0.35s ease-in-out;
  right: -500px;
}
@keyframes slideSide {
  from {
    right: -500px;
  }
  to {
    right: 0;
  }
}
@keyframes slideSide2 {
  from {
    right: 0;
  }
  to {
    right: -500px;
  }
}
