.container-cart {
  background-color: #1d1c1c;
  height: 100vh;
  position: absolute;
  width: 440px;
  right: 0;
  animation: slideSide 1s ease-in-out;
  .arrow-left {
    background-color: transparent;
    border: none;
    position: absolute;
    left: 0;
    top: 0;
    img {
      width: 40px;
    }
  }
}
.container-img {
  width: 100px;
  height: 100px;
  background-position: center;
  background-size: cover;
  border-radius: 5px;
  margin-left: 7px;
}
.container-items-cart {
  height: 80%;
  overflow-y: auto;
  margin-top: 35px;
}
.container-cart-item {
  margin-top: 10px;
}
.container-img-text-item {
  position: relative;
  display: flex;
  gap: 10px;
  height: 100px;
  background-color: rgba(182, 177, 177, 0.387);
  height: 130px;
  align-items: center;
  // img {
  //   width: 100px;
  // }
  p {
    max-width: 78%;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
  .price-item {
    font-weight: 600;
    font-size: 18px;
  }
  .cross-out {
    // width: 10px;
    position: absolute;
    right: 5px;
    top: 5px;
    img {
      width: 20px;
    }
  }
  .container-quantity {
    position: absolute;
    right: 0;
    bottom: 0;
  }
}
.container-total {
  background-color: #b3a7cc4b;
  position: absolute;
  width: 100%;
  bottom: 0;
  height: 150px;
  .container-texts {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
}
.cart-show {
  animation: slideSide 0.8s ease-in-out;
}
.cart-hide {
  animation: slideSide2 0.35s ease-in-out;
  right: -500px;
}

@keyframes slideSide {
  from {
    right: -500px;
  }
  to {
    right: 0;
  }
}
@keyframes slideSide2 {
  from {
    right: 0;
  }
  to {
    right: -500px;
  }
}
