.container-cart {
  margin-top: 100px;
}

.container-img-data-product {
  img {
    width: 95px;
  }
  .del-all-product {
    background-color: rgb(24, 111, 187);
    width: 100px;
    height: 50px;
  }
}
.container-extra-info {
  display: flex;
}
