.container-menu-desktop {
  display: flex;
  //   justify-content: space-around;
  height: 75px;
  align-items: center;
  position: fixed;
  top: 0;
  left: 50%;
  width: 100vw;
  transform: translateX(-50%);
  z-index: 1000;
  justify-content: space-around;
  backdrop-filter: blur(10px);

  background-color: #000000d5;
  //   text-align: center;
}

.icon-name-commerce {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
}
.link-menu-desktop {
  text-decoration: none;
  color: white;
  font-size: 1rem;
  color: #60ffeb;
}

.container-menus {
  display: flex;
  gap: 60px;
  flex-direction: row;
}
.container-extra-data {
  display: flex;
  gap: 25px;
}
.icon-menu-bar-desktop {
  width: 20px;
}

.input-search-menu {
  border: none;
  border-bottom: 1px solid #60ffeb;
  background-color: transparent;
  transition: 0.5s ease-in-out;

  color: #60ffeb;
  //   font-family: "Poppins", sans-serif;

  text-align: center;
  &::placeholder {
    color: #60ffeb;
  }
  &:hover {
    border-bottom: 1px solid white;
  }
  &:focus {
    outline: none;
    border-bottom: 1px solid white;
  }
}
.icon-search {
  position: absolute;
  //   margin: 10px;
  //   margin-left: 10px;
}
.num-items-in-cart {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  color: white;
  margin-top: -20px;
  height: 25px;
  font-size: 14px;
  width: 25px;
}

@media (max-width: 1200px) {
  .container-menu-desktop {
    display: none;
  }
}
