.container-menu-desktop {
  display: flex;
  //   justify-content: space-around;
  height: 60px;
  align-items: center;
  position: fixed;
  top: 0;
  left: 50%;
  width: 100vw;
  transform: translateX(-50%);
  z-index: 1000;
  justify-content: space-around;
  // backdrop-filter: blur(10px);
  transition: 0.5s ease-in-out;
  border-radius: 5px;
  // background-color: #000000d5;
}

.icon-name-commerce {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  font-weight: 900;
  font-size: 20px;
}
.link-menu-desktop {
  text-decoration: none;
  color: white;
  font-size: 1rem;
  color: #60ffeb;
}

.container-menus {
  display: flex;
  gap: 60px;
  flex-direction: row;
}
.container-extra-data {
  display: flex;
  gap: 25px;
}
.icon-menu-bar-desktop {
  width: 20px;
}

.num-items-in-cart {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  color: white;
  margin-top: -20px;
  height: 25px;
  font-size: 14px;
  width: 25px;
}

@media (max-width: 1200px) {
  .container-menu-desktop {
    display: none;
  }
}

.bg-nav {
  @apply bg-white fixed top-0 w-full z-50 border-gray-200 px-2 sm:px-4 py-2.5 rounded dark:bg-gray-900;
}

.bg-trans {
  @apply bg-white fixed top-0 w-full z-50 border-gray-200 px-2 sm:px-4 py-2.5 rounded bg-transparent;
}
.bar-tailwind {
  @apply w-full md:block md:w-auto;
}
.bar-hidden {
  @apply hidden w-full md:block md:w-auto;
}
.links-tailwind {
  @apply flex flex-col p-4 mt-4 border border-gray-100 rounded-lg bg-gray-50 md:flex-row md:space-x-8 md:mt-0 md:text-sm md:font-medium md:border-0 md:bg-white dark:bg-gray-800 md:dark:bg-gray-900 dark:border-gray-700;
}
.links-trans {
  @apply flex flex-col p-4 mt-4 border border-gray-100 rounded-lg  md:flex-row md:space-x-8 md:mt-0 md:text-sm md:font-medium md:border-0   dark:border-gray-700 bg-transparent;
}
// dark:bg-gray-800 md:dark:bg-gray-900 bg-gray-50 md:bg-white
