.SwiperOffers {
  margin-top: 100px;
  width: 80%;
  max-width: 100vw;
  margin-bottom: 100px;
  // display: flex;
  // justify-content: center;
  //   height: 600px;
  //   margin: auto;
}
.container-offer {
  margin: auto;
  width: 350px;
  height: 400px;
  background-color: #17141d;
  border-radius: 5px;
  text-align: center;
}

.img-offer {
  margin-top: 50px;
  border-radius: 5px;
  width: 70%;
  // margin: auto;
  height: 200px;
  object-fit: cover;
}
.offer-title {
  max-width: 70%;
  // text-align: center;
  margin: auto;
  height: 50px;
}
.swiper-button-next {
  background-image: url(../../media/next.png);
  background-size: 35px;
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;
  // background-color: rgba(35, 38, 41, 0.852);
  background-repeat: no-repeat;
  background-position: center;
  &::after {
    display: none;
  }
}
.swiper-button-prev {
  background-image: url(../../media/prev.png);
  background-size: 35px;
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
  // background-color: rgba(35, 38, 41, 0.865);
  background-repeat: no-repeat;
  background-position: center;
  &::after {
    display: none;
  }
}
