.container-cards-products {
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 90px;
  max-width: 1300px;
  // background-color: #00a650;
  justify-content: center;
  // justify-content: space-between;
}

.product-card {
  // margin: auto;
  transition: 0.4s ease-in-out;
  position: relative;
  color: black;
  // background-color: rgb(255, 245, 245);
  background-color: #ebebea;
  // color: aliceblue;
  height: 300px;
  width: 250px;

  border-radius: 7px;
  // text-align: center;

  hr {
    width: 85%;
    margin: auto;
    margin-top: -8px;
  }
  &:hover {
    margin-top: -5px;
    color: white;
    background-color: #16181c;
    .link-from-one-product {
      color: aliceblue;
    }
  }
  //  padding: 10px;
}

.container-info-product {
  padding: 15px;
  // margin: 15px;
  text-align: left;
}
.container-img-product {
  position: relative;
  margin: auto;
  // margin-top: 15px;
  padding: 0px;
  width: 100%;
  height: 55%;
  // border-radius: 10px;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  background-color: white;
  // background-size: 10px;
}
.discount-card {
  color: #00a650;
  font-size: 15px;
  font-weight: 500;
  position: absolute;
  margin: 2px;
}

.container-price-fav {
  // width: 90%;
  display: flex;
  justify-content: space-between;
  position: absolute;
  width: 85%;
  margin: 15px;
  bottom: -12px;
  .price-product-list {
    font-weight: 600;
    font-size: 20px;
  }
}
.ancient-price {
  font-size: 13px;
  font-weight: 100;
  text-decoration: line-through;
}
.myheart {
  background-color: rgba(240, 248, 255, 0.614);
  border-radius: 50%;
  position: absolute;
  top: 0;
  width: 33px;
  height: 33px;
  right: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.link-from-one-product {
  text-decoration: none;
  color: black;
}
// .container-pagination {
//   cursor: pointer;
//   display: flex;
//   gap: 40px;
//   position: absolute;
//   bottom: 100px;
//   left: 50%;
//   transform: translate(-50%);
// }
.hidden-paginator {
  opacity: 0;
  pointer-events: none;
}

// @media (max-width: 768px) {
//   .container-cards-products {
//     grid-template-columns: repeat(
//       auto-fill,
//       minmax(200px, 1fr)
//     ); /* Set the width of the columns to 200px */
//   }
// }
.search-message {
  background-color: #062b47;
  color: #008cff;
  padding: 10px;
  border-radius: 4px;
  .query-message {
    color: rgb(237, 234, 234);
  }
}

@media (max-width: 480px) {
  .container-cards-products {
    padding-left: 0;
    flex-direction: column;
  }
  .product-card {
    width: 70vw;
    height: 350px;
    margin: auto;
  }
}
