.modal-mobile {
  width: 340px;
  // height: 450px;
  border-radius: 8px;
  background-color: black;
  outline: none;
  position: absolute;
  left: 50%;
  top: 10%;
  transform: translate(-50%);
  transition: 1s ease-in-out;
  .search-icon-input {
    width: 25px;
  }
  .container-input-mobile {
    width: 350px;
    height: 45px;
    margin: auto;
    border: 2px solid #3a3d3d;
    border-radius: 8px;
    background-color: #141b21;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
  }
  .search-mobile {
    color: white;
    background-color: transparent;
    border: none;
    &:focus {
      outline: none;
      // border: none;
    }
  }
}
