@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;800&display=swap");

$primary-color: green;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}
body {
  color: rgb(255, 255, 255);
  font-family: "Poppins", sans-serif;
  background-color: rgb(8, 9, 11);
}
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #085d49;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
}
